@media only screen and (max-width: 1490px) {
    .cart{
        margin-left: 1200px;
    }
    .main-nav-1{
        margin-left: 630px;
    }
    .col1 {
        left: -9%;
        font-size: 10px;
    }
}