@media only screen and (max-width: 1500px) {
    .cart{
        margin-left: 1200px;
    }
    .main-nav-1{
        margin-left: 630px;
    }
    .col1:first-child::before {
        margin-left: 470px;
    }
    .container1 {
        left: 9%;
    }
    .container {
        right: 5%;
    } 
    .account h1::after {
        width: 1200px;
    }
}

@media only screen and (max-width: 1394px) {
    }
    .col1:first-child::before {
        margin-left: 460px;
    } 
}


@media only screen and (max-width: 1389px) {

}